@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    background-color: yellow;
    font-family: 'Press Start 2P';
}

header {
    font-family: 'Press Start 2P';
    color: black;
    font-size: .85rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    padding: 1rem;
}

button {
    font-size: 15px;
    height: 2rem;
    transition-duration: 0.5s;
}

button:hover {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    align-self: center;
    justify-self: center;
    box-shadow: 7px 7px white;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 20px;
}

.grid {
    display: grid;
    border: none;
    background-color: white;
}