@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    background-color: hotpink;
    font-family: 'Press Start 2P';
}

header {
    font-family: 'Press Start 2P';
    color: black;
    font-size: .85rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    padding: 1rem;
}

button {
    font-size: 15px;
    height: 2rem;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    transition-duration: 0.5s;
}

button:hover {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    align-self: center;
    justify-self: center;
    box-shadow: 7px 7px white;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 20px;
    margin: 1rem;
}

.grid {
    display: grid;
    border: none;
    background-color: white;
}

footer {
    display: block;
    justify-content: center;
    bottom: 0;
    font-size: .40rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}