* {
    margin: 0;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    align-content: center;
    justify-content: center;
}

.grid {
    justify-content: center;
    align-content: center;
    display: grid;
    border: solid;
}